@import url(https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-s-facebook:before {
  content: "\e90a";
}

._icon-s-instagram:before {
  content: "\e90b";
}

._icon-s-youtube:before {
  content: "\e90d";
}

._icon-user:before {
  content: "\e90e";
}

._icon-arrow-select:before {
  content: "\e900";
}

._icon-arrow-slider:before {
  content: "\e901";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

body {
  background-color: rgba(225, 214, 220, 0.8980392157);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Inter";
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #333;
}

.title::after {
  content: "";
  margin-top: 0.2222222222em;
  width: 3.6666666667em;
  height: 0.0625rem;
  display: block;
  background-color: #000;
}

.title_small::after {
  width: 1.8055555556em;
}

.title_semibold {
  font-weight: 600;
}

.title_white {
  font-size: 1.5rem;
  color: #fff;
}

.title_white::after {
  background-color: #fff;
  margin-top: 0.4166666667em;
}

.title__value {
  font-family: "Inter";
  font-weight: normal;
  font-weight: 500;
  line-height: 1.1;
  /* 40/36 */
  letter-spacing: 0.02em;
  color: #333;
}

.title__info {
  font-weight: normal;
  line-height: 1.1;
  /* 40/36 */
  color: #333;
  padding-top: 0.625rem;
  padding-left: 1.5625rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5625rem;
  font-size: 2rem;
}

.social__item {
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.label-footer {
  font-family: "Inter";
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5555555556;
}

.label-footer:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  color: #6211a5;
  backdrop-filter: blur(1.25rem);
  -webkit-backdrop-filter: blur(1.25rem);
  -webkit-box-shadow: 0.0625rem 0.25rem 0.25rem 0rem rgba(197, 143, 156, 0.2470588235);
          box-shadow: 0.0625rem 0.25rem 0.25rem 0rem rgba(197, 143, 156, 0.2470588235);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._header-scroll {
  position: fixed;
  background-color: #e3d8dc;
  -webkit-box-shadow: 0 0.0625rem 0.0625rem 0.0625rem rgba(32, 14, 90, 0.5098039216);
          box-shadow: 0 0.0625rem 0.0625rem 0.0625rem rgba(32, 14, 90, 0.5098039216);
  top: -100%;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.header._header-show {
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  top: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
  min-height: 6.5625rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  margin-left: auto;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  row-gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  text-align: center;
}

.menu__link {
  position: relative;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.1;
  letter-spacing: 0.02em;
  line-height: 1.4444444444;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.0625rem;
  top: 1.5625rem;
  left: 0;
  background-color: #fb80a9;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.menu__link:hover::after {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.icon-menu {
  display: none;
}

.footer {
  overflow: hidden;
  font-family: "Inter";
  font-weight: 500;
  background: #c58f9c;
  color: #6211a5;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
  grid-template-columns: repeat(3, auto);
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  row-gap: 3.125rem;
  position: relative;
}

.footer__column {
  position: relative;
  z-index: 2;
}

.footer__logo {
  display: block;
  max-width: 11.125rem;
  padding: 0.3125rem 0.3125rem;
}

.footer__logo img {
  max-width: 100%;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.footer__blocks {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.footer__text {
  line-height: 1.68;
  /* 27/16 */
  letter-spacing: 0.03em;
}

.footer__title {
  cursor: default;
}

.footer__contacts {
  padding-top: 3.6875rem;
}

.footer__social {
  padding-top: 1rem;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.footer__menu {
  padding-top: 3.6875rem;
}

.contacts-footer__body {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
}

.contacts-footer__value {
  line-height: 2;
  letter-spacing: 0.03em;
}

.contacts-footer__value:hover {
  text-decoration: underline;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.menu-footer__link {
  letter-spacing: 0.03em;
  line-height: 1.5;
}

.main-slider__slider {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: calc(100svh - 0.3125rem);
  background-color: #D6B8C2;
}

.main-slider__arrows {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
  position: absolute;
  bottom: 10%;
  left: 8%;
  -webkit-transform: translate(0.625rem, calc(-50% - 0.3125rem * -1));
      -ms-transform: translate(0.625rem, calc(-50% - 0.3125rem * -1));
          transform: translate(0.625rem, calc(-50% - 0.3125rem * -1));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider__arrow {
  position: relative;
  z-index: 10;
  width: 2.8125rem;
  height: 2.8125rem;
  background: #6211a5;
  border-radius: 1rem;
  border: 1px dotted black;
  color: white;
  font-size: 0.75rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.main-slider__arrow.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
  background: #c3b9f1;
  color: white;
}

.main-slider__arrow_next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slide-main-slider {
  position: relative;
  z-index: 1;
  background-color: #D6B8C2;
}

.slide-main-slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0rem 0rem 6.25rem rgba(197, 143, 156, 0.2470588235));
          filter: drop-shadow(0rem 0rem 6.25rem rgba(197, 143, 156, 0.2470588235));
}

.slide-main-slider__image img {
  padding-bottom: 2%;
  position: absolute;
  width: 100vw;
  height: 100svh;
  top: 0;
  left: 0;
  object-fit: cover;
  -o-object-fit: cover;
}

.slide-main-slider .container-slide-main-slider {
  position: relative;
  z-index: 2;
  padding-top: 2.5rem;
  padding-bottom: 6.25rem;
}

.slide-main-slider .container-slide-main-slider__title {
  z-index: 2;
  padding-top: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.05;
}

.slide-main-slider .container-slide-main-slider__title:not(:last-child) {
  margin-bottom: 0.0625rem;
}

.slide-main-slider .container-slide-main-slider__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-main-slider .container-slide-main-slider__text {
  max-width: 37.5rem;
  font-weight: 500;
  line-height: 0.9;
  color: #7E74F1;
}

.slide-main-slider .container-slide-main-slider__subtitle {
  line-height: 1.05;
  text-transform: uppercase;
  -webkit-text-stroke: 4px red;
  -webkit-text-fill-color: transparent;
}

.header-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-product__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header-product__title {
  color: #000;
  font-family: "Plus+Jakarta";
  font-weight: 600;
  line-height: 2.5;
}

.header-product__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.header-product__text {
  color: #000;
  font-family: "Plus+Jakarta";
  line-height: 1.5;
  max-width: 29.375rem;
}

.header-product__link {
  cursor: pointer;
  display: inline-block;
  padding: 1.375rem 2.125rem;
  text-align: center;
  background-color: #F85A47;
  font-weight: 500;
  font-size: 1.0625rem;
  color: white;
  border-radius: 0.3125rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 0px 100px 80px 0px rgba(248, 90, 71, 0.07), 0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05), 0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03), 0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02);
  -webkit-appearance: none;
}

.header-product__link:hover {
  background-color: #f91c03;
}

.tabs-product__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs-product__title {
  position: relative;
  cursor: pointer;
  color: #000;
  font-size: 1.1875rem;
  font-family: "Plus+Jakarta";
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
  background-color: transparent;
}

.tabs-product__title:hover {
  color: #F85A47;
}

.tabs-product__title._tab-active {
  color: #F85A47;
}

.tabs-product__title._tab-active::after {
  width: 100%;
}

._tab-active {
  color: #8807f1;
}

._tab-active::after {
  width: 100%;
}

.item-tabs__items {
  display: -ms-grid;
  display: grid;
  gap: 1.5625rem;
  grid-template-columns: repeat(auto-fill, minmax(19.375rem, 1fr));
}

.item-tabs__card {
  position: relative;
}

.item-tabs__options {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.3125rem;
  padding: 0.125rem 0.75rem;
  top: 0.25rem;
}

.item-tabs__title {
  color: #6211a5;
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 0.08125rem;
  border-radius: 0.3125rem;
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

.item-tabs__title:hover {
  text-decoration: underline;
}

.item-tabs__image-ibg {
  display: block;
  position: relative;
  aspect-ratio: 1/1;
  overlay: hidden;
}

.item-tabs__image-ibg img {
  border-radius: 0.3125rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  opacity: 0.7;
}

.item-tabs__image-ibg img:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 1;
}

.item-tabs__description {
  color: black;
  font-size: 0.875rem;
  line-height: 1.3846153846em;
  padding: 0.625rem 0.125rem;
}

.item-tabs__price {
  display: inline-block;
  color: #6211a5;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.08125rem;
  border-radius: 0.3125rem;
  border: 1px solid #8807f1;
  background-color: rgba(98, 17, 165, 0.0352941176);
  padding: 0.3125rem 0.3125rem;
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

.portfolio__container,
.portfolio__containers,
.portfolios__container,
.portfolios__containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0.625rem;
}

.portfolio__container .swiper-pagination,
.portfolio__container .swiper-paginations,
.portfolio__containers .swiper-pagination,
.portfolio__containers .swiper-paginations,
.portfolios__container .swiper-pagination,
.portfolios__container .swiper-paginations,
.portfolios__containers .swiper-pagination,
.portfolios__containers .swiper-paginations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.625rem;
}

.portfolio__container .swiper-pagination span,
.portfolio__container .swiper-paginations span,
.portfolio__containers .swiper-pagination span,
.portfolio__containers .swiper-paginations span,
.portfolios__container .swiper-pagination span,
.portfolios__container .swiper-paginations span,
.portfolios__containers .swiper-pagination span,
.portfolios__containers .swiper-paginations span {
  width: 0.9375rem;
  height: 0.9375rem;
  line-height: 0.9375rem;
  font-size: 0.875rem;
  border-radius: 50%;
  background-color: #e0d2e9;
}

.portfolio__container .swiper-pagination span.swiper-pagination-bullet-active,
.portfolio__container .swiper-pagination span.swiper-paginations-bullet-active,
.portfolio__container .swiper-paginations span.swiper-pagination-bullet-active,
.portfolio__container .swiper-paginations span.swiper-paginations-bullet-active,
.portfolio__containers .swiper-pagination span.swiper-pagination-bullet-active,
.portfolio__containers .swiper-pagination span.swiper-paginations-bullet-active,
.portfolio__containers .swiper-paginations span.swiper-pagination-bullet-active,
.portfolio__containers .swiper-paginations span.swiper-paginations-bullet-active,
.portfolios__container .swiper-pagination span.swiper-pagination-bullet-active,
.portfolios__container .swiper-pagination span.swiper-paginations-bullet-active,
.portfolios__container .swiper-paginations span.swiper-pagination-bullet-active,
.portfolios__container .swiper-paginations span.swiper-paginations-bullet-active,
.portfolios__containers .swiper-pagination span.swiper-pagination-bullet-active,
.portfolios__containers .swiper-pagination span.swiper-paginations-bullet-active,
.portfolios__containers .swiper-paginations span.swiper-pagination-bullet-active,
.portfolios__containers .swiper-paginations span.swiper-paginations-bullet-active {
  width: 1.25rem;
  height: 1.25rem;
  line-height: 0.9375rem;
  font-size: 1rem;
  background-color: #755793;
  border: 0.0625rem solid #ef97c1;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio__header,
.portfolios__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 1.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__controls,
.portfolios__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.portfolio__arrow,
.portfolios__arrow {
  width: 2.5rem;
  height: 2.5rem;
  background: #c3b9f1;
  border-radius: 1rem;
  color: white;
  font-size: 0.75rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.portfolio__arrow.swiper-button-disabled,
.portfolios__arrow.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
  background: #c3b9f1;
  color: white;
}

.portfolio__arrow_right,
.portfolios__arrow_right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.item-portfolio,
.item-portfolios {
  border: 1px solid #f5f5f5;
  border-radius: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.item-portfolio__image-ibg,
.item-portfolios__image-ibg {
  overflow: hidden;
  padding-bottom: 81.7174515235%;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  opacity: 0.5;
}

.item-portfolio__image-ibg img,
.item-portfolios__image-ibg img {
  -o-object-position: top;
     object-position: top;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.item-portfolio__body,
.item-portfolios__body {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-portfolio__title,
.item-portfolios__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-portfolio__link-title,
.item-portfolios__link-title {
  color: #232e35;
  font-weight: 500;
  line-height: 1.25;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item-portfolio__footer,
.item-portfolios__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.item-portfolio__link,
.item-portfolios__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 0.59375rem;
}

.video__container {
  position: relative;
}

.video__videoguide {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 0rem 0.625rem 0rem;
}

.video__items {
  width: 43.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}

.video__title {
  font-family: "Inter";
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #333;
}

.video__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.video__text {
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: #656D72;
  max-width: 31.25rem;
}

.video__text:not(:last-child) {
  margin-bottom: 0.75rem;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 37.5em) {
  .main-slider__arrows {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .tabs-product__title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.0625rem;
    top: 1.5625rem;
    left: 0;
    background-color: #F85A47;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }

  .tabs-product__title:hover::after {
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 47.99875em) and (min-width: 75em) {
  .menu__list {
    -webkit-column-gap: 3.5rem;
       -moz-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }
}

@media (min-width: 61.99875em) {
  .footer__title::before {
    display: none;
  }
}

@media (min-width: 79.375em) {
  .title {
    font-size: 2.125rem;
  }

  .title__value {
    font-size: 1.5rem;
  }

  .title__info {
    font-size: 1.125rem;
  }

  .footer__container {
    padding-top: 2.8125rem;
  }

  .footer__container {
    padding-bottom: 2.8125rem;
  }

  .main-slider__slider {
    padding-top: 3.125rem;
  }

  .main-slider__arrows {
    margin-left: 2.1875rem;
  }

  .slide-main-slider {
    padding-top: 2.8125rem;
  }

  .slide-main-slider {
    padding-bottom: 5rem;
  }

  .slide-main-slider .container-slide-main-slider__title {
    font-size: 6.875rem;
  }

  .slide-main-slider .container-slide-main-slider__info {
    padding-bottom: 3.125rem;
  }

  .slide-main-slider .container-slide-main-slider__text {
    font-size: 1.375rem;
  }

  .slide-main-slider .container-slide-main-slider__subtitle {
    font-size: 6.875rem;
  }

  .page__product {
    padding-top: 3.75rem;
  }

  .page__product {
    padding-bottom: 3.75rem;
  }

  .product__header {
    margin-bottom: 1.875rem;
  }

  .header-product__title {
    font-size: 2.5rem;
  }

  .tabs-product__navigation {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .tabs-product__navigation {
    row-gap: 1.125rem;
  }

  .tabs-product__navigation {
    margin-bottom: 2.8125rem;
  }

  .portfolio__container,
  .portfolio__containers,
  .portfolios__container,
  .portfolios__containers {
    padding-top: 1.5625rem;
  }

  .portfolio__containers,
  .portfolios__containers {
    padding-top: 3.75rem;
  }

  .portfolio__header,
  .portfolios__header {
    margin-bottom: 1.25rem;
  }

  .video__container {
    padding-top: 3.125rem;
  }

  .video__container {
    padding-bottom: 3.125rem;
  }

  .video__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.25rem;
  }

  .title__value {
    font-size: 1.125rem;
  }

  .title__info {
    font-size: 0.875rem;
  }

  .footer__container {
    padding-top: 1.5625rem;
  }

  .footer__container {
    padding-bottom: 1.5625rem;
  }

  .main-slider__slider {
    padding-top: 5.3125rem;
  }

  .main-slider__arrows {
    margin-left: 0.9375rem;
  }

  .slide-main-slider {
    padding-top: 0.625rem;
  }

  .slide-main-slider {
    padding-bottom: 0.625rem;
  }

  .slide-main-slider .container-slide-main-slider__title {
    font-size: 2.8125rem;
  }

  .slide-main-slider .container-slide-main-slider__info {
    padding-bottom: 1.25rem;
  }

  .slide-main-slider .container-slide-main-slider__text {
    font-size: 1.0625rem;
  }

  .slide-main-slider .container-slide-main-slider__subtitle {
    font-size: 2.8125rem;
  }

  .page__product {
    padding-top: 0.9375rem;
  }

  .page__product {
    padding-bottom: 0.9375rem;
  }

  .product__header {
    margin-bottom: 0.625rem;
  }

  .header-product__title {
    font-size: 1.875rem;
  }

  .tabs-product__navigation {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .tabs-product__navigation {
    row-gap: 0.75rem;
  }

  .tabs-product__navigation {
    margin-bottom: 0.9375rem;
  }

  .portfolio__container,
  .portfolio__containers,
  .portfolios__container,
  .portfolios__containers {
    padding-top: 0.625rem;
  }

  .portfolio__containers,
  .portfolios__containers {
    padding-top: 2.8125rem;
  }

  .portfolio__header,
  .portfolios__header {
    margin-bottom: 0.875rem;
  }

  .video__container {
    padding-top: 1.25rem;
  }

  .video__container {
    padding-bottom: 1.5625rem;
  }

  .video__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 69.375em) {
  .footer__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
    row-gap: 1.875rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__column:nth-child(1) {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .footer__blocks {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 61.99875em) {
  .footer__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .footer__column:nth-child(1) {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .footer__logo {
    margin: 0 auto;
    min-width: 3.75rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__blocks {
    text-align: center;
  }

  .footer__title {
    width: 100%;
    text-align: left;
    position: relative;
  }

  .footer__title::before {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .footer__title._spoller-active::before {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .video__videoguide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .header {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }

  .header__container {
    min-height: 4.0625rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #e1d6dc;
    padding: 8.125rem 0.9375rem 1.875rem 0.9375rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4.0625rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: rgba(82, 1, 148, 0.8);
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .menu__link {
    color: #000;
    font-size: 1.375rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .slide-main-slider .container-slide-main-slider__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .slide-main-slider .container-slide-main-slider__text {
    text-align: start;
  }

  .header-product__link {
    width: 100%;
  }

  .tabs-product__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .slide-main-slider .container-slide-main-slider__info {
    row-gap: 0.625rem;
  }
}

@media (max-width: 40.625em) {
  .portfolio__slider,
  .portfolios__slider {
    margin-right: -0.9375rem;
    padding-right: 0.9375rem;
  }
}

@media (max-width: 37.5em) {
  .footer__blocks {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .portfolio__header,
  .portfolios__header {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .portfolio__controls,
  .portfolios__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 20em) and (max-width: 79.375em) {
@supports (font-size: clamp( 1.25rem , 0.9552631579rem  +  1.4736842105vw , 2.125rem )) {
    .title {
      font-size: clamp( 1.25rem , 0.9552631579rem  +  1.4736842105vw , 2.125rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.9552631579rem  +  1.4736842105vw , 2.125rem )) {
    .title {
      font-size: calc(1.25rem + 0.875 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9986842105rem  +  0.6315789474vw , 1.5rem )) {
    .title__value {
      font-size: clamp( 1.125rem , 0.9986842105rem  +  0.6315789474vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9986842105rem  +  0.6315789474vw , 1.5rem )) {
    .title__value {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7907894737rem  +  0.4210526316vw , 1.125rem )) {
    .title__info {
      font-size: clamp( 0.875rem , 0.7907894737rem  +  0.4210526316vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7907894737rem  +  0.4210526316vw , 1.125rem )) {
    .title__info {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.1414473684rem  +  2.1052631579vw , 2.8125rem )) {
    .footer__container {
      padding-top: clamp( 1.5625rem , 1.1414473684rem  +  2.1052631579vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.1414473684rem  +  2.1052631579vw , 2.8125rem )) {
    .footer__container {
      padding-top: calc(1.5625rem + 1.25 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.1414473684rem  +  2.1052631579vw , 2.8125rem )) {
    .footer__container {
      padding-bottom: clamp( 1.5625rem , 1.1414473684rem  +  2.1052631579vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.1414473684rem  +  2.1052631579vw , 2.8125rem )) {
    .footer__container {
      padding-bottom: calc(1.5625rem + 1.25 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-top: clamp( 3.125rem , 6.0493421053rem  +  -3.6842105263vw , 5.3125rem )) {
    .main-slider__slider {
      padding-top: clamp( 3.125rem , 6.0493421053rem  +  -3.6842105263vw , 5.3125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 6.0493421053rem  +  -3.6842105263vw , 5.3125rem )) {
    .main-slider__slider {
      padding-top: calc(5.3125rem + -2.1875 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-left: clamp( 0.9375rem , 0.5164473684rem  +  2.1052631579vw , 2.1875rem )) {
    .main-slider__arrows {
      margin-left: clamp( 0.9375rem , 0.5164473684rem  +  2.1052631579vw , 2.1875rem );
    }
}

@supports not (margin-left: clamp( 0.9375rem , 0.5164473684rem  +  2.1052631579vw , 2.1875rem )) {
    .main-slider__arrows {
      margin-left: calc(0.9375rem + 1.25 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-top: clamp( 0.625rem , -0.1118421053rem  +  3.6842105263vw , 2.8125rem )) {
    .slide-main-slider {
      padding-top: clamp( 0.625rem , -0.1118421053rem  +  3.6842105263vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.1118421053rem  +  3.6842105263vw , 2.8125rem )) {
    .slide-main-slider {
      padding-top: calc(0.625rem + 2.1875 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -0.8486842105rem  +  7.3684210526vw , 5rem )) {
    .slide-main-slider {
      padding-bottom: clamp( 0.625rem , -0.8486842105rem  +  7.3684210526vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.8486842105rem  +  7.3684210526vw , 5rem )) {
    .slide-main-slider {
      padding-bottom: calc(0.625rem + 4.375 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 2.8125rem , 1.4440789474rem  +  6.8421052632vw , 6.875rem )) {
    .slide-main-slider .container-slide-main-slider__title {
      font-size: clamp( 2.8125rem , 1.4440789474rem  +  6.8421052632vw , 6.875rem );
    }
}

@supports not (font-size: clamp( 2.8125rem , 1.4440789474rem  +  6.8421052632vw , 6.875rem )) {
    .slide-main-slider .container-slide-main-slider__title {
      font-size: calc(2.8125rem + 4.0625 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6184210526rem  +  3.1578947368vw , 3.125rem )) {
    .slide-main-slider .container-slide-main-slider__info {
      padding-bottom: clamp( 1.25rem , 0.6184210526rem  +  3.1578947368vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6184210526rem  +  3.1578947368vw , 3.125rem )) {
    .slide-main-slider .container-slide-main-slider__info {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9572368421rem  +  0.5263157895vw , 1.375rem )) {
    .slide-main-slider .container-slide-main-slider__text {
      font-size: clamp( 1.0625rem , 0.9572368421rem  +  0.5263157895vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9572368421rem  +  0.5263157895vw , 1.375rem )) {
    .slide-main-slider .container-slide-main-slider__text {
      font-size: calc(1.0625rem + 0.3125 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 2.8125rem , 1.4440789474rem  +  6.8421052632vw , 6.875rem )) {
    .slide-main-slider .container-slide-main-slider__subtitle {
      font-size: clamp( 2.8125rem , 1.4440789474rem  +  6.8421052632vw , 6.875rem );
    }
}

@supports not (font-size: clamp( 2.8125rem , 1.4440789474rem  +  6.8421052632vw , 6.875rem )) {
    .slide-main-slider .container-slide-main-slider__subtitle {
      font-size: calc(2.8125rem + 4.0625 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-top: clamp( 0.9375rem , -0.0098684211rem  +  4.7368421053vw , 3.75rem )) {
    .page__product {
      padding-top: clamp( 0.9375rem , -0.0098684211rem  +  4.7368421053vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -0.0098684211rem  +  4.7368421053vw , 3.75rem )) {
    .page__product {
      padding-top: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.0098684211rem  +  4.7368421053vw , 3.75rem )) {
    .page__product {
      padding-bottom: clamp( 0.9375rem , -0.0098684211rem  +  4.7368421053vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.0098684211rem  +  4.7368421053vw , 3.75rem )) {
    .page__product {
      padding-bottom: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2039473684rem  +  2.1052631579vw , 1.875rem )) {
    .product__header {
      margin-bottom: clamp( 0.625rem , 0.2039473684rem  +  2.1052631579vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2039473684rem  +  2.1052631579vw , 1.875rem )) {
    .product__header {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6644736842rem  +  1.0526315789vw , 2.5rem )) {
    .header-product__title {
      font-size: clamp( 1.875rem , 1.6644736842rem  +  1.0526315789vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6644736842rem  +  1.0526315789vw , 2.5rem )) {
    .header-product__title {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 59.375);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.5rem ))) {
    .tabs-product__navigation {
      -webkit-column-gap: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.5rem );
              column-gap: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.5rem ))) {
    .tabs-product__navigation {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 59.375);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 59.375);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 59.375);
    }
}

@supports (row-gap: clamp( 0.75rem , 0.6236842105rem  +  0.6315789474vw , 1.125rem )) {
    .tabs-product__navigation {
      row-gap: clamp( 0.75rem , 0.6236842105rem  +  0.6315789474vw , 1.125rem );
    }
}

@supports not (row-gap: clamp( 0.75rem , 0.6236842105rem  +  0.6315789474vw , 1.125rem )) {
    .tabs-product__navigation {
      row-gap: calc(0.75rem + 0.375 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.3059210526rem  +  3.1578947368vw , 2.8125rem )) {
    .tabs-product__navigation {
      margin-bottom: clamp( 0.9375rem , 0.3059210526rem  +  3.1578947368vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.3059210526rem  +  3.1578947368vw , 2.8125rem )) {
    .tabs-product__navigation {
      margin-bottom: calc(0.9375rem + 1.875 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem )) {
    .portfolio__container,
    .portfolio__containers,
    .portfolios__container,
    .portfolios__containers {
      padding-top: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem )) {
    .portfolio__container,
    .portfolio__containers,
    .portfolios__container,
    .portfolios__containers {
      padding-top: calc(0.625rem + 0.9375 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-top: clamp( 2.8125rem , 2.4967105263rem  +  1.5789473684vw , 3.75rem )) {
    .portfolio__containers,
    .portfolios__containers {
      padding-top: clamp( 2.8125rem , 2.4967105263rem  +  1.5789473684vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 2.8125rem , 2.4967105263rem  +  1.5789473684vw , 3.75rem )) {
    .portfolio__containers,
    .portfolios__containers {
      padding-top: calc(2.8125rem + 0.9375 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-bottom: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem )) {
    .portfolio__header,
    .portfolios__header {
      margin-bottom: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem )) {
    .portfolio__header,
    .portfolios__header {
      margin-bottom: calc(0.875rem + 0.375 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.6184210526rem  +  3.1578947368vw , 3.125rem )) {
    .video__container {
      padding-top: clamp( 1.25rem , 0.6184210526rem  +  3.1578947368vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.6184210526rem  +  3.1578947368vw , 3.125rem )) {
    .video__container {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0361842105rem  +  2.6315789474vw , 3.125rem )) {
    .video__container {
      padding-bottom: clamp( 1.5625rem , 1.0361842105rem  +  2.6315789474vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0361842105rem  +  2.6315789474vw , 3.125rem )) {
    .video__container {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
    .video__title {
      font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
    .video__title {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 59.375);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 75em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem )) or (column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
         -moz-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
              column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem )) or (column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
         -moz-column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
              column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 79.375em) {
  .slide-main-slider .container-slide-main-slider__info {
    row-gap: 1.5625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 79.375em) {
@supports (row-gap: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem )) {
    .slide-main-slider .container-slide-main-slider__info {
      row-gap: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem )) {
    .slide-main-slider .container-slide-main-slider__info {
      row-gap: calc(0.625rem + 0.9375 * (100vw - 20rem) / 59.375);
    }
}
}

@media (any-hover: hover) {
  .social__item:hover {
    opacity: 0.8;
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }

  .main-slider__arrow:hover {
    background-color: #755793;
  }

  .portfolio__container .swiper-pagination span:hover,
  .portfolio__container .swiper-paginations span:hover,
  .portfolio__containers .swiper-pagination span:hover,
  .portfolio__containers .swiper-paginations span:hover,
  .portfolios__container .swiper-pagination span:hover,
  .portfolios__container .swiper-paginations span:hover,
  .portfolios__containers .swiper-pagination span:hover,
  .portfolios__containers .swiper-paginations span:hover {
    background-color: #755793;
  }

  .portfolio__arrow:hover,
  .portfolios__arrow:hover {
    background-color: #755793;
  }

  .item-portfolio__image-ibg:hover,
  .item-portfolios__image-ibg:hover {
    opacity: 1;
  }

  .item-portfolio__image-ibg:hover img,
  .item-portfolios__image-ibg:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .item-portfolio__link-title:hover,
  .item-portfolios__link-title:hover {
    color: #7E74F1;
  }
}

@media (any-hover: none) {
  .item-portfolio__image-ibg,
  .item-portfolios__image-ibg {
    opacity: 1;
  }
}